@charset "utf-8";
/* CSS Document */
		html, body 
		{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			background-color: #FFFFFF;
		}
        .hboxed 
        {
            position:absolute;
            width:100%;
            height: 60px;
            background-color: #A4A4A4;
        }
        .hboxed2 
        {
            position:absolute;
            width:100%;
            height: 2px;
            background-color: #2E2EFE;
			top: 60px;
        }
		.bboxed 
        {
            position:absolute;
            width:100%;
            height: 100px;
            background-color: #A4A4A4;
			bottom: 0px;
        }
        .bboxed2 
        {
            position:absolute;
            width:100%;
            height: 2px;
            background-color: #2E2EFE;
			bottom: 100px;
        }
		.repoTable 
			{
				position:absolute;
				top:150px;
				left:151px;
				width: 702px;
				height: auto;
				border-width:5px;
			}
		
		table,th,td
			{
				height: 35px;
				border:1px solid black;
				border-collapse:collapse;			
				}

		#navbar ul 
		{ 
			position:absolute;
			top: 100px;
			margin: 0; 
			padding: 5px; /* Set margin and padding for cross browser consistency. */ 
			list-style-type: none; /* Needed to eliminate list item marker */ 
			text-align: center; /* Centers navigation bar */ 
			background-color: #000; /* Set as desired */ 
		} 

		#navbar ul li { 
		/*display: ; /* Needed to create horizontal effect */ 
		} 

		#navbar ul li a 
		{ 
			text-decoration: none; /* The setting of "none" allows the link to not be underlined. This is up to user preference. */ 
			padding: .2em 1em; /* Gives the link space inside it's individual block. */ 
			color: #fff; /* Set as desired */ 
			background-color: #000; /* Set as desired */ 
		} 

		#navbar ul li a:hover 
		{ 
			color: #000; 
			background-color: #fff; /* Both of these values create the "Rollover effect, Set as desired */ 
		} 
