@charset "utf-8";
/* CSS Document */
		html, body 
		{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			background-color: #FFFFFF;
		}
        .hboxed 
        {
            position:absolute;
            width:100%;
            height: 60px;
            background-color: #A4A4A4;
        }
        .hboxed2 
        {
            position:absolute;
            width:100%;
            height: 2px;
            background-color: #2E2EFE;
			top: 60px;
        }
		.bboxed 
        {
            position:absolute;
            width:100%;
            height: 100px;
            background-color: #A4A4A4;
			bottom: 0px;
        }
        .bboxed2 
        {
            position:absolute;
            width:100%;
            height: 2px;
            background-color: #2E2EFE;
			bottom: 100px;
        }
		.RepoMang
		{
			position:absolute;
			width: 700px;
			height:	350px;
			top: 100px;
			left: 150px;
			border-color: #000;
			border: 2px solid;
		}
		.Navigation
		{

		}