@charset "utf-8";
/*
Author: Jordan Smith
Last Revise: 4/22/14

This is the main template of all the pages on the web page.
Any time a webpage is created the webpage should imediatly link to this CSS File.*/
		

/*This is the section that defines the overall page settings like page width and height.*/
        html, body 
		{
			width: relative;
			height: relative;
			background-color: white;
		}

/*.hboxed is the first header box at the top of the page*/
        .hboxed 
        {
            position:absolute;
            left:0px;
            width:100%;
            height: 60px;
            background-color: #A4A4A4;
        }
/*Same as .hboxed; .hboxed2 is the smaller box that gives the header a more defined look.*/
        .hboxed2 
        {
            position:absolute;
            width: 100%;
            height: 2px;
            background-color: #2E2EFE;
			top: 60px;
        }
/*sboxed is the blue bar on the side of the page that adds character to the new look.*/
        .sboxed 
        {
            position:absolute;
            width: 2px;
            height: 100%;
            background-color: #2E2EFE;
            left: 300px;
        }
/*.navbar is the css for the navigation bar on index_main. */
        .navbar
        {
            background-color: #A4A4A4;
            position:absolute;
            width: 300px;
            height: 93.5%;
            top: 62px;
            left: 0px;
            text-align: center;
        }
        .bar:hover/*This allows fo the cool feature when you hover over the selection it changes the look of the element.*/
        {
            border-style: inset;
            background-color: #313131;
        }
/*img.usr_pic is the CSS Style Function that gives properties to the user image on the page.*/
 img.user_pic
    {
        position:absolute;
        width: 250px;
        height: auto;
        left: 20px;
        top: 80px;
        border: 5px solid black;
        box-shadow: 15px 15px 10px -5px rgba(0,0,0,0.5);
    }
/* .bar is the seperate bars inside of the navigation bar. this is what gives the 
navigation bar some character.*/
.barcontainer
{
    position:absolute;
    top:300px;
    width: 300px;
}
        .bar/* Seperate properties of the navigation container.*/
        {
            font-family:"Arial Black"; 
            border-style: outset;
            position: relative;
            border-color: #606060;
            background-color: #8b8b8b;
        }