@charset "utf-8";
/*
Author: Jordan Smith
Last Revise: 3/23/14

This is the main template of all the pages on the web page.
Any time a webpage is created the webpage should imediatly link to this CSS File.*/
		html, body 
		{
			width: 100%;
			height: 100%;
			background-color: white;
		}
        .hboxed 
        {
            position:absolute;
            width:100%;
            height: 60px;
            background-color: #A4A4A4;
        }
        .hboxed2 
        {
            position:absolute;
            width:100%;
            height: 2px;
            background-color: #2E2EFE;
			top: 60px;
        }
		.bboxed 
        {
            position:absolute;
            width:100%;
            height: 100px;
            background-color: #A4A4A4;
			bottom: 0px;
        }
        .bboxed2 
        {
            position:absolute;
            width:100%;
            height: 2px;
            background-color: #2E2EFE;
			bottom: 100px;
        }
        .navbar
        {
            position:absolute;
            background-color: #9c9b9b;
            width: 200px;
            height: auto;
            top: 135px;
            left: 0px;
            text-align: center;
        }
        .bar
        {
            border-style: outset;
            position: relative;
            border-color: #606060;
            background-color: #8b8b8b;
        }