/*
  Christopher McDonald, Group M

  Credit goes to Addy Osmani for his webkitdirectory tutorial
*/

.container { margin:20px }
.row { margin:10px }
.type-folder { background-image:url(./icon/folder.png); background-repeat:no-repeat; }
.type-html { background-image:url(./icon/html.png); background-repeat:no-repeat; }
.type-png { background-image:url(./icon/image.png); background-repeat:no-repeat; }
.type-jpg { background-image:url(./icon/image.png); background-repeat:no-repeat; }
.type-jpeg { background-image:url(./icon/image.png); background-repeat:no-repeat; }
.type-gif { background-image:url(./icon/image.png); background-repeat:no-repeat; }
.type-css { background-image:url(./icon/css.png); background-repeat:no-repeat; }
.type-js { background-image:url(./icon/js.png); background-repeat:no-repeat; }
ul { list-style-type:none }